<!DOCTYPE html>
<html lang="en">

<head>
</head>
<body>
  <div class="container">
    <h1>Product Detail</h1>
      <h2>
        <a href="/products/<%=product.id%>"><%= product.productTitle %></a>
      </h2>
      <p>
        <%= product.productDescription %>
      </p>
      <p>
        <%= product.productPrice %> Baht
      </p>
  </div>
</body>
</html>